@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #121825;
  --blue: #2400ff;
  --blue-light: #e5e0ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121825;
    --foreground: #ffffff;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
}

.h-large {
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.875rem; /* 161.765% */
  letter-spacing: 0.085rem;
  text-transform: uppercase;
}

.h-medium {
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 63px */
}

.h-small {
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.625rem; /* 161.538% */
  letter-spacing: 0.13rem;
}

.h-small-light {
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 39px */
  letter-spacing: 0.13rem;
}
