@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0;
    --background: #ffffff;
    --background-dark: #9aa3b9;
    --foreground: #121825;
    --foreground-light: #3c4f79;
    --blue: #2400ff;
    --blue-light: #e5e0ff;
    --yellow: 255 205 26;
    --yellow-light: 255 246 214;
    --red: #e34326;
    --red-light: #fce8e5;
  }
}

body {
  font-synthesis: none;
}

.h-large {
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.875rem; /* 161.765% */
  letter-spacing: 0.085rem;
  text-transform: uppercase;
}

.h-medium {
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 63px */
}

.h-small {
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.625rem; /* 161.538% */
  letter-spacing: 0.15rem;
}

.h-small-light {
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 39px */
  letter-spacing: 0.15rem;
}

@media screen and (max-width: 1024px) {
  .h-small,
  .h-small-light {
    font-size: 1.125rem;
    line-height: 150%;
  }

  .h-medium {
    font-size: 2.2rem;
  }
}
